* {
  padding: 0%;
  margin: 0%;
}
body {
  font-size: 25px;
  background-color: rgb(32, 20, 20);
}
table {
  border: 2px solid red;
  height: 100%;
  width: 100%;
  text-align: center;
}
td {
  border: 1px solid blue;
}
tr {
  border: 2 px solid green;
}
input {
  background-color: rgb(41, 15, 15);
  padding: 8px;
  border-radius: 12px;
}
button {
  background-image: linear-gradient(to top left, green, red);
  padding: 10px;
  border-radius: 12px;
}
